# Explicitly allow .idea folder, if ignored globally.
!/.idea

# The workspace contains too much changing values.
# If configuration is stored within the workspace file, extract it to a specific
# XML file instead.
/.idea/workspace.xml

# Local Composer files.
/vendor/
/composer.lock

# Local code quality configuration.
/phpcs.xml
/phpunit.xml
